* {
	margin: 0;
	padding: 0;
	font-family: Lato, cursive;
 }


/* HEADER */

header
{
	background: #666666 url(../images/vosmatchs.png);
	background-position: center;
	background-size: 100%;
	
	height: 80vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

#logo img
{
    width:30%; 
    height: auto;
}

#logo img:hover
{
	transform:scale(1.1,1.1);
    cursor: pointer;
}

nav 
{
	display: flex;
	flex-direction: column;
	
}

nav ul 
{
	text-align: right;
	display: flex;
	justify-content: space-around;
}


nav a
{
	display: inline-block;
	color: #bddd1d;
	font-weight: 700;
	font-size: 2.2vw;
	-webkit-text-stroke: 1px;
	-webkit-text-stroke-color:black;
}

nav a:hover
{
	color: #bddd1d;
	text-decoration: none;
}

nav li 
{
	display: inline-block;
	
}

nav li:hover
{
	transform:scale(1.1,1.1);
    cursor: pointer;
	
}

h1
{
	color: black;
	font-size: 60px;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> d5d2b1e63695970c6b394ed947ab5a0ea54eb378

h3
{
	color: white;
	font-size: 60px;
	text-align: center;
	position: relative;
	top: 220px;
}
<<<<<<< HEAD
>>>>>>> d5d2b1e63695970c6b394ed947ab5a0ea54eb378
=======
>>>>>>> d5d2b1e63695970c6b394ed947ab5a0ea54eb378
h1, h2
{
	padding-top: 250px;
	text-align: center;
}

#menu ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 }
#menu li {
 float:left;
 margin:auto;
 padding:0;
 background-color:black;
 }
#menu li a {
 display:block;
 width:100px;
 color:white;
 text-decoration:none;
 padding:5px;
 }
#menu li a:hover {
 color:#FFD700;
 }

/* Trajets */ 
section
{
	padding-top: 100px;
}
.trajetbloc
{
    width: 80%; 
    margin: 0 auto; 
    text-align: center; 
    padding: 30px; 
    background: #f5f5fa; 
    border-radius: 10px;
    border: 2px solid #ccc;
}

.trajetbloc img
{
	height: 70px;
	width: 70px;
}

/* Actu */
.actubloc img
{
	height: 200px;
	width: auto;
	border: solid grey 1px;
}

.actubloc p:nth-child(2) {
    font-weight: 700;
	font-size: 25px;
}
