<<<<<<< HEAD
body {
    background-color: lightblue;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
=======
h1{
	text-align : center;
>>>>>>> 4ac768b3313a6375101c3b516f3e0e1e4c7a383c
}