* {
	margin: 0;
	padding: 0;
	font-family: Lato, cursive;
 }

/* Header */

header
{
	background-image: url(../images/vosmatchs.png);
	background-position: 5% 37%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 60vh;
	margin-bottom: 60px;

}

#userlogger{
	text-align: center;
	text-transform: capitalize;
	color: #bddd1d;
    font-weight: 700;
    font-size: 3.2vw;
}

#logo img
{
    width:30%; 
    height: auto;
	position: relative;
	left:20px;
}

#logo img:hover
{
	transform:scale(1.1,1.1);
    cursor: pointer;
}

nav ul 
{
	display: flex;
	justify-content: space-around;
}

nav a
{
	display: inline-block;
	color: #bddd1d;
	font-weight: 700;
	font-size: 2.2vw;
	text-shadow:0 0 3px black;
}

nav a:hover
{
	color:#A1AD19;
	text-decoration: none;
	text-shadow:0 0 3px black;
}

nav li 
{
	display: inline-block;
}

nav li:hover
{
	transform:scale(1.1,1.1);
    cursor: pointer;
}

nav img
{
	width: 40px;
}
h2
{
	color: #143045;
	font-size: 30px;
	text-shadow:0 0 3px black;
	text-align: center;
}


/* Trajets */ 

.trajetbloc
{
    width: 80%; 
    margin: 0 auto; 
    text-align: center; 
    padding: 30px; 
    background: #f5f5fa; 
    border-radius: 10px;
    border: 2px solid #ccc;
	margin-bottom: 60px;
	margin-top: 10px;
}

.trajetbloc img
{
	height: 70px;
	width: 70px;
}

/* Actu */
.actubloc img
{
	height: 200px;
	width: auto;
	border: solid grey 1px;
}

.actubloc p:nth-child(2) 
{
    font-weight: 700;
	font-size: 20px;
}

/* footer */
#footer
{

	background-image: url(../images/foooter.jpg);
	background-size: cover;
	width: 100%;
	height: 30vh;
	color: white;
	display: flex;
	padding: 40px;
	position: relative;
}

#footer img
{
	width: 200px;
}

#footer img:hover
{
	transform:scale(1.1,1.1);
    cursor: pointer;
}

#footer ul
{
	list-style: none;
	padding-top: 30px;
	padding-left: 40px;
	text-align: center;
}

#footer li:hover
{
	transform:scale(1.1,1.1);
    cursor: pointer;
	font-weight: 700;
	
}

#footer ul:nth-child(2) 
{
    padding-left: 300px;
	margin-top: -35px;
}
