* 
{
	margin: 0;
	padding: 0;
	font-family: Lato, cursive;
 }

.br
{
 	clear :both;
 }

/* Header */

header
{
	background-image: url(../images/vosmatchs.png);
	background-position: 5% 37%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 60vh;
	margin-bottom: 60px;
}

#headerAdmin
{
	background-image: url(../images/vosmatchs.png);
	background-position: 5% 40%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45vh;
	margin-bottom: 60px;
}

#logo img
{
    width:30%; 
    height: auto;
	position: relative;
	left:20px;
}

#logo img:hover
{
	transform:scale(1.1,1.1);
    cursor: pointer;
}

nav ul 
{
	display: flex;
	justify-content: space-around;	
}


nav a
{
	color: #bddd1d;
	font-weight: 700;
	font-size: 2.2vw;
	text-shadow:0 0 3px black;
	text-decoration: none;
}

nav a:hover
{
	color:#A1AD19;
	text-decoration: none;
	text-shadow:0 0 3px black;
}

nav li 
{
	display: inline-block;
}

nav li:hover
{
	transform:scale(1.1,1.1);
    cursor: pointer;
}

nav img
{
	width: 40px;
}

h1
{
	color: white;
	font-size: 50px;
	text-shadow:0 0 4px black;
	text-align: center;
	padding-top: 75px;
}

h2
{
	color: #143045;
	font-size: 30px;
	text-shadow:0 0 3px black;
	text-align: center;
}

h3
{
	font-size: 23px;
}

/* Trajets */ 
#Trajets
{
	display: flex;
	
}
.trajetbloc
{
    width: 70%; 
    margin: 10px; 
    text-align: center; 
    padding: 30px; 
    background: #f5f5fa; 
    border-radius: 10px;
    border: 1px solid #143045;
	margin-bottom: 80px;
	margin-top: 20px;
}

.trajetbloc img
{
	height: 70px;
	width: 70px;
    border-radius: 50%;
	
}

/* Actu */
#Actu
{
	display: flex;
	justify-content: space-between;
	margin: 80px;
}

#Actu a
{
	align-self: flex-end;
}
.actubloc
{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 250px;
    height: 300;
    border: 0.1px solid #e3e3e3;
    margin: 5px;
}
.actubloc img
{
	height: 200px;
	width: auto;
	margin: 10px;
	border: solid  #143045 1px;
}

.actubloc a
{
	text-decoration: none;
	color: #143045;
}

.actubloc a:hover 
{
    text-decoration: none;
}

/* footer */
#footer
{

	background:  #143045;
	height: 50px;
	color: white;
	display: flex;
	justify-content: space-around;
	padding: 65px;
	position: relative;
}

#footer img
{
	width: 200px;
}

#footer img:hover
{
	transform:scale(1.1,1.1);
    cursor: pointer;
}

#footer ul
{
	list-style: none;
	padding-top: 5px;
	text-align: center;
}

#footer a
{
	text-decoration: none;
    color: white;
}

#footer li:hover
{
	transform:scale(1.1,1.1);
    cursor: pointer;
	font-weight: 700;	
}

/* Base Controller EDIT */
.formArticle
{ 
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 300px;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.form
{ 
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    border: 1px solid black;
    justify-content: space-around;
}

article
{
	display: flex;
    justify-content: space-between;
}

#flex
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
/* Bouton */

a[title], input[type=button], input[type=submit], input[type=reset]   
{
	height: 35px;
    width: 100px;
    font-size: 13px;
    color: white;
    background-color: #143045;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
    line-height: 36px;
    display: block;
    margin-bottom: 3px;
    border: none;
}

a[title]:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover   
{
    transform:scale(1.03,1.03);
}
/* Infos User */
#infosUser
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.blocInfo
{
	border: 0.1px solid black;
	margin: 10px;
	padding: 10px;
	background-color: #f1f6fa;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 500px;
}

/* Responsive design */
@media only screen and (max-width:950px) {
   #Trajets {
       flex-wrap: wrap;
	   justify-content: center;  
    }

	#Actu {
		flex-wrap: wrap;
		justify-content: center;	
	}
	
	.trajetbloc {
		width: 300px;
	}
}